<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="breadcrumbs">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <a asp-action="Review" asp-controller="Home">Music Review</a>
                <span><em> A Trick of the Tail</em></span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="movie-poster"><img src="~/images/TrickoftheTail.jpg" alt="#"></figure>
                    </div>
                    <div class="col-md-6">
                        <h2 class="movie-title">Genesis<br /><em><b>A Trick of the Tail</b></em></h2>
                        <ul class="movie-meta">
                            <li>
                                <strong>Rating:</strong>
                                9/10 - <b><em>Amazing</em></b>
                            </li>
                            <li><strong>Length:</strong> 51:01</li>
                            <li><strong>Release Date:</strong> 2 February 1976 (WW)</li>
                            <li><strong>Genre:</strong> Progressive Rock/ Art Rock/ Pop Rock</li>
                            <li><strong>Label:</strong> Charisma, Atco</li>
                        </ul>
                    </div>
                </div> <!-- .row -->
                <div class="entry-content">
                    <p>During the Lamb tour in 1975, Genesis were getting annoyed at the fans coming up to vocalist 
                    Peter Gabriel, congratulating him for the wonderful show and wonderful album, when the two were 
                    the entire band's contribution. Later in 1975, after the tour, it was announced that Peter Gabriel 
                    had left the band, leaving Genesis without a singer, to which everyone thought all hope was lost and 
                    that Genesis split up. This was the band's chance to prove to the fans that they could still be Genesis 
                    without their beloved vocalist. Taking up the microphone and drums for this album was the band's legendary 
                    drummer Phil Collins, still accompanied by Tony Banks on keyboard, Steve Hackett on guitar and Mike 
                    Rutherford as the bassist/guitarist. At everyone's surprised, the band delivered one of their strongest 
                    titles in their entire discography, with one of the greatest opening and closing tracks of all time 
                    (Dancing on a Volcano and Los Endos, respectively) and quirky art rock pieces such as Robbery, 
                    Assault and Battery, Trick of the Tail and Squonk. This album had everything to prove that the band could 
                    easily carry on without Gabriel, no matter what anyone said. In the end, Gabriel was still congratulated 
                    on Trick of the Tail even though he was not involved with the album.</p>
                </div>
            </div>
        </div>
    </div> <!-- .container -->
</main>

